# Python Basics Course: Exercises solutions

# 1. Data Types and Variables

**Ex 1.1: Declare Your Own Variables**

1. Create a variable for your favorite color as a string.
2. Create a variable for your age as an integer.
3. Create a variable for your height as a float.
4. Create a variable for whether you like Python as a boolean.
5. Print all the previous variables

In [6]:
# Solution 1.1
favorite_color = "blue"  # Replace "blue" with your favorite color
age = 20                # Replace 20 with your age
height = 5.9            # Replace 5.9 with your height
likes_python = True     # Replace True with your preference

# Print them out to check
print("Favorite color:", favorite_color)
print("Age:", age)
print("Height:", height)
print("Likes Python:", likes_python)

Favorite color: blue
Age: 20
Height: 5.9
Likes Python: True

**Ex 1.2: String Manipulation and Type Conversion**

1. Strings can be concatenated with `+` or repeated with `*`.
2. Convert one data type to another using functions like `int()`, `float()`, and `str()`.

In [8]:
# Solution 1.2

# String concatenation
name = "Alice"
greeting = "Hello, " + name + "!"
print(greeting)

# Type conversion
num_str = "100"    # This is a string
num_int = int(num_str)  # Converts string to integer
print("Converted:", num_int, "is now of type", type(num_int))

Hello, Alice!
Converted: 100 is now of type <class 'int'>

**Ex 1.3: Work with Data Types**

1. Create a string variable for your name and print a greeting using it.
2. Add two integer variables and print the result.
3. Multiply a float by an integer and print the result.
4. Convert a string of numbers (e.g., "123") into an integer and add 10 to it.

In [9]:
# Solution 1.3
# 1. String variable for your name
your_name = "Your Name"
print("Hello, " + your_name + "!")

# 2. Add two integers
num1 = 15
num2 = 20
print("Sum:", num1 + num2)

# 3. Multiply a float by an integer
float_num = 2.5
int_num = 4
print("Multiplication Result:", float_num * int_num)

# 4. Convert string to integer and add 10
num_str = "123"
num_int = int(num_str)
print("Converted and Added:", num_int + 10)

Hello, Your Name!
Sum: 35
Multiplication Result: 10.0
Converted and Added: 133

**Ex 1.4: User Input and Type Casting**

1. Ask the user to input their age as a string.
2. Convert the input into an integer and add 5 to it.
3. Print a message with the result.

In [10]:
# Solution 1.4

# Step 1: Ask the user for their age
age_str = input("Enter your age: ")  # User input is always a string

# Step 2: Convert the string to an integer
age_int = int(age_str)

# Step 3: Add 5 and print the result
future_age = age_int + 5
print("In 5 years, you will be", future_age, "years old!")

Enter your age:  34

In 5 years, you will be 39 years old!

**Ex 1.5: Arithmetic with Mixed Types**

1. Create two variables:
   - A float (e.g., `price = 19.99`).
   - A string representing a whole number (e.g., `quantity = "3"`).
2. Convert the string variable into an integer.
3. Multiply the float by the integer and print the result as a float.

In [ ]:
# Solution 1.5
# Step 1: Define a float and a string
price = 19.99
quantity_str = "3"

# Step 2: Convert the string to an integer
quantity = int(quantity_str)

# Step 3: Perform arithmetic and print the result
total_cost = price * quantity
print("Total cost:", total_cost)  # Result will be a float

# 2. Basic Python Syntax

**Ex 2.1: Print and Comments**
1. Write a print statement that outputs: "Python is fun!"
2. Add a comment above the print statement explaining what it does.
3. Add a second print statement with your favorite hobby.

In [ ]:
# Solution 2.1

# This print statement outputs a message
print("Python is fun!")

# Printing my favorite hobby
print("I love painting!")

**Ex 2.2: Case Sensitivity and Indentation**
1. Declare two variables: `Name = "Alice"` and `name = "Bob"`. Print both variables to see the difference.
2. Write an `if` statement that checks if `10 > 5` and prints "10 is greater than 5".
3. Experiment by removing indentation under the `if` statement and observe the error.

In [ ]:
# Solution 2.2

# Case sensitivity
Name = "Alice"
name = "Bob"
print("Name:", Name)
print("name:", name)

# Indentation
if 10 > 5:
    print("10 is greater than 5")

# Try removing indentation here to see the error

**Ex 2.3: Debugging Syntax Errors**

1. The code below has syntax errors. Copy and paste it into the code cell, run it, and fix the errors:
   ```python
   print("Welcome to Python")
   if(5 > 3)
   print("5 is greater than 3")

In [ ]:
# Solution 2.3

# Fixed Syntax Errors
print("Welcome to Python")  # Added missing closing parenthesis

if 5 > 3:  # Added colon at the end of the if statement
    print("5 is greater than 3")  # Indented this line properly

**Ex 2.4: Practice Indentation with a Nested Block**

1. Write an `if` statement that checks if `7 > 3`. 
2. Inside this block, write another `if` statement that checks if `7 > 5`.
3. Print a message inside the nested block.
4. Experiment with incorrect indentation and observe the errors.

In [ ]:
# Solution 2.4

if 7 > 3:
    print("7 is greater than 3")
    if 7 > 5:
        print("7 is also greater than 5")  # Nested block with correct indentation

# Incorrect indentation will cause errors!

# 3. Operators

**Ex 3.1: Arithmetic Operators**
1. Create two variables, `num1` and `num2`, and assign them any values.
2. Calculate and print the following:
   - Sum of `num1` and `num2`.
   - Difference between `num1` and `num2`.
   - Product of `num1` and `num2`.
   - Floor division of `num1` by `num2`.
   - Remainder when `num1` is divided by `num2`.

In [ ]:
# Solution 3.1

a = 7
b = 5

print("Equal to:", a == b)
print("Greater than:", a > b)
print("Less than or equal to:", a <= b)

In [ ]:
del a, b

**Ex 3.2: Logical Operators**
1. Create a variable `x` and assign it a value.
2. Write logical expressions to check and print:
   - Whether `x` is greater than 10 and less than 20.
   - Whether `x` is less than 5 or greater than 15.
   - Use `not` to reverse the result of whether `x` is greater than 10.

In [ ]:
# Solution 3.2

x = 12

print("x > 10 and x < 20:", x > 10 and x < 20)
print("x < 5 or x > 15:", x < 5 or x > 15)
print("not(x > 10):", not(x > 10))

In [ ]:
del x

# 4. Conditional Statements and Loops

### `range()`

The range() function **generates a sequence of numbers** and is commonly used for looping a specific number of times in for loops.

**Syntax:**
```python
range(start, stop, step)
```

- start (optional): Starting value (default: 0).
- stop (required): Ending value (exclusive).
- step (optional): Increment value (default: 1).

In [ ]:
# Example 4.5: Generate numbers from 0 to 4
for i in range(5):
    print(i)

In [ ]:
# Example 4.6: Generate numbers from 2 to 8, stepping by 2
for i in range(2, 10, 2):
    print(i)

### `map()`

The map() function applies a specified function to each item in an iterable (like a list) and returns a map object, which can be converted to a list, tuple, etc.

**Syntax:**
```python
map(function, iterable)
```

Where:

- function is a function to apply to each item in the iterable
- iterable is the collection of items to process

In [20]:
# Example 4.7: Double each number in a list

nums = [1, 2, 3]
squared = map(lambda x: x**2, nums)
print(list(squared))

[1, 4, 9]

In [21]:
# Example 4.5: Convert Temperatures from Celsius to Fahrenheit

#Define a function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# List of temperatures in Celsius
temperatures_celsius = [0, 20, 30, 40]

# Use map with the defined function
temperatures_fahrenheit = map(celsius_to_fahrenheit, temperatures_celsius)

# Convert the map object to a list and print
print(list(temperatures_fahrenheit))

[32.0, 68.0, 86.0, 104.0]

### `filter()`

The filter() function filters items from an iterable based on a condition specified by a function, returning a filter object, which can be converted to a list, tuple, etc.

**Syntax:**
```python
filter(function, iterable)
```

Where:

- function is a function that returns True or False for each item
- iterable is the collection of items to filter1

In [22]:
# Example 4.9: Filter out only even numbers from a list
nums = [1, 2, 3, 4, 5, 6]
even = filter(lambda x: x % 2 == 0, nums)
print(list(even))  # Output: [2, 4, 6]

[2, 4, 6]

---

**Exercise 4.1: If-Else Statement**  

1. Write a program that checks if a number is positive, negative, or zero.
2. Use an `if-elif-else` statement to print the result.

In [ ]:
# Solution 4.1

num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive")
elif num == 0:
    print("The number is zero")
else:
    print("The number is negative")

**Exercise 4.2: For Loop with Range**

1. Write a `for` loop to print all even numbers between 1 and 20 (inclusive).

In [ ]:
# Solution 4.2
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

**Exercise 4.3: While Loop**
1. Use a `while` loop to print the numbers from 5 to 1 in reverse order.

In [1]:
# Solution 4.3
count = 5
while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

**Exercise 4.4: Map and Filter**
1. Create a list of numbers `nums = [1, 2, 3, 4, 5]`.
2. Use `map()` to create a new list with each number squared.
3. Use `filter()` to create a list of only the even numbers.

In [ ]:
# Solution 4.4

nums = [1, 2, 3, 4, 5]

# Use map() to square each number
squared = map(lambda x: x**2, nums)
print("Squared numbers:", list(squared))

# Use filter() to get even numbers
even = filter(lambda x: x % 2 == 0, nums)
print("Even numbers:", list(even))

**Exercise 4.5: Count Vowels in a String**

```python
# Input string
text = "Loops are powerful tools in programming."
```
Your tasks:
1. Initialize a variable `vowel_count` to 0.
2. Iterate over each character in the string using a `for` loop.
3. Check if the character is a vowel (a, e, i, o, u, both uppercase and lowercase).
4. Increment `vowel_count` for each vowel.
5. Print the final value of `vowel_count`.

In [2]:
# Solution 4.5

# Input string
text = "Loops are powerful tools in programming."

# Initialize a counter for vowels
vowel_count = 0

# Define the set of vowels
vowels = "aeiouAEIOU"

# Iterate over each character in the string
for char in text:
    if char in vowels:  # Check if the character is a vowel
        vowel_count += 1

# Print the result
print("Number of vowels:", vowel_count)

Number of vowels: 13

# 5. Data Structures

**Ex 5.1: Create and modify a list**

Create a list of your 5 favorite foods, modify one item, and then print the updated list.

In [34]:
# Solution 5.

# Step 1: Create a list of 5 favorite foods
favorite_foods = ["Pizza", "Burger", "Sushi", "Pasta", "Ice Cream"]

# Step 2: Modify one item (e.g., change "Burger" to "Tacos")
favorite_foods[1] = "Tacos"

# Step 3: Print the updated list
print("Updated list of favorite foods:", favorite_foods)

**Ex 5.2: Create a tuple**

Create a tuple with your first three favorite animals. Try to access the second item and print it. Attempt to change an element and see the result.

In [4]:
# Solution 5.2

# Step 1: Create a tuple with 3 favorite animals
favorite_animals = ("Dog", "Cat", "Elephant")

# Step 2: Access the second item and print it
print("Second favorite animal:", favorite_animals[1])

# Step 3: Attempt to change an element (this will raise an error)
try:
    favorite_animals[1] = "Tiger"  # Tuples are immutable, so this is not allowed
except TypeError as e:
    print("Error:", e)

Second favorite animal: Cat
Error: 'tuple' object does not support item assignment

**Ex 5.3 Create a set**

Create a set with five numbers. Add a new number and remove one of the existing numbers. Print the final set.

In [5]:
# Solution 5.3

# Step 1: Create a set with 5 numbers
my_set = {1, 2, 3, 4, 5}

# Step 2: Add a new number to the set
my_set.add(6)

# Step 3: Remove an existing number from the set (e.g., remove 3)
my_set.remove(3)

# Step 4: Print the final set
print("Final set after modification:", my_set)

Final set after modification: {1, 2, 4, 5, 6}

**Ex 5.4 Create a dict**

Create a dictionary with at least 3 key-value pairs representing your details (e.g., name, age, and country). Update one of the values and print the updated dictionary.

In [6]:
# Solution 5.4

# Step 1: Create a dictionary with at least 3 key-value pairs
my_details = {
    "name": "Alice",
    "age": 30,
    "country": "USA"
}

# Step 2: Update one of the values (e.g., change age to 31)
my_details["age"] = 31

# Step 3: Print the updated dictionary
print("Updated dictionary:", my_details)

Updated dictionary: {'name': 'Alice', 'age': 31, 'country': 'USA'}